# PNPM Configuration
auto-install-peers=true
dedupe-peer-dependents=false
enable-pre-post-scripts=true
fund=false
git-checks=true
prefer-workspace-packages=true
resolution-mode=highest
save-exact=false
shared-workspace-lockfile=true
strict-peer-dependencies=false

# Registry Configuration
registry=https://registry.npmjs.org/

# Node.js Configuration
node-options=--max-old-space-size=4096
